  @font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts/source-sans-pro-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts/source-sans-pro-extra-light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  