@font-face {
  font-family: "starwarsWebfont";
  src: url("./fonts/starwars-webfont.eot?") format("eot"), url("./fonts/starwars-webfont.woff") format("woff"),
    url("./fonts/starwars-webfont.ttf") format("truetype"),
    url("./fonts/starwars-webfont.svg#starwars-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
